<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
<body>
	<h2>Find Pets</h2>
	<form th:object="${pet}" th:action="@{/owners/0/pets}" method="get" class="form-horizontal" id="search-pet-form">
		<div class="form-group">
			<div class="control-group" id="NameGroup">
				<label class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input class="form-control" th:field="*{name}" size="30" maxlength="80"/>
					<span class="help-inline">
					<div th:if="${#fields.hasAnyErrors()}">
					<p th:each="err: ${#fields.allErrors()}" th:text="${err}">Error</p>
					</div></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Find Pet</button>
			</div>	
		</div>

	</form>

	<br />

</body>
</html>
